
body {
  font-family: 'Questrial', sans-serif;
  font-weight: 300;
  background: url(../img/diamond.png) repeat;
}
#wrapper {
  width: 800px;
  margin: 20px auto;
  padding: 4em;
  background-color: white;
  text-align: center;
  border-radius: 2em;
}

#profile-pic {
 width: 100%;
}

.horizontal {
  list-style-type: none;
  padding-left: 0px !important;
}
.horizontal li {
  display: inline;
  margin: 1em;
}
 .horizontal li a { 
   color: black;
}